# .env.local  (kino/apps/web/)

## MongooDB URI
MONGODB_URI=mongodb://localhost:27017/kino # this is the usual default
AUTH_SECRET=secret-key-here # visit https://auth-secret-gen.vercel.app/ for a random secret key

# TMDB API
TMDB_ACCESS_TOKEN=api_read_access_token_here
TMDB_API_KEY=api_key_here